<h1>Welcome <%= "#{current_user.try(:name)}" %> (<%= current_user.class.name %>)</h1>
<div id='chart'><% get_charts %></div>
<%= render_chart(@chart, 'chart') %>
<%= render partial: "projects/dashboards/#{current_user.admin? ? 'admin' : 'developer'}"  %>
